# Media
media/*
!media/.gitkeep

# Data model ML
data_ml/sentence_finetuned

downloaded_files/

# Virtual Environment
.venv/
venv/

# Python / Django
__pycache__/
*.pyc
*.pyo

# Testing
.pytest_cache/

# IDE
.idea/
.vscode/
